*{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: inherit;
}
.deskripsi{
    margin-top: 10px;
}
.batas{
    background-color: white;
    height: 2px;
    width: 500px;
}
.hr{
    background-color: rgb(10, 10, 10);
    height: 2px;
}

.developer{
    align-items: center;
    justify-content: space-between;
    display: flex;

}
header{
    background-color: rgb(37, 37, 37);
    color: white;
    height: 100%;
    width: 120px;
    display: flex;
    text-align: left;
}
header li{
    list-style:circle;
}
.clear{
    clear: both;
}
.err{
    background-color: rgb(37, 37, 37);
    color: white;
    width: auto;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    background-color: #101010;
}
.div1{
    width:max-content;
    text-align: left;
    background-color: rgba(175, 168, 168, 0.909);
}
.div2{
    width: 100%;
    background-color: rgba(175, 168, 168, 0.909);
    text-align: left;
}
.foto{
    text-align: center;
}
.foto-profil{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ikon_sosmed{
    width: 30px;
}
.ikon{
    width: 30px;
    float: left;
}
td{
    width: 10%;
    text-align: center;
}
.f-black{
    color: rgb(37, 37, 37);
    padding: 10px;
    border-bottom: 2px solid rgb(37, 37, 37);
    border-top: 2px solid rgb(37, 37, 37);
}

li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding{
    padding-top: 8px;
    padding-bottom: 8px;
}
a{
    text-decoration: none;
}
.proyek{
    text-align: center;
    width: max-content;
    height: max-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 40px;
    border: 3px solid white;

}
.proyek1{
    display: flex;
    justify-content: space-around;
}
.sekolah{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 100px;

}
.sekolah-list{
        display: flex;
        justify-content: space-around;
}